@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css');
  @media(min-width:768px) {
    body {
      margin-top: 50px;
    }
  }

  #wrapper {
    padding-left: 0;    
  }

  #page-wrapper {
    width: 100%;        
    padding: 0;
    background-color: #fff;
  }

  @media(min-width:768px) {
    #wrapper {
      padding-left: 225px;
    }

    #page-wrapper {
      padding: 22px 10px;
    }
  }

  /* Top Navigation */

  .top-nav {
    padding: 0 15px;
  }

  .top-nav>li {
    display: inline-block;
    float: left;
  }

  .top-nav>li>a {
    padding-top: 20px;
    padding-bottom: 20px;
    line-height: 20px;
    color: #fff;
  }


  /* Side Navigation */

  @media(min-width:768px) {
    .side-nav {
      position: fixed;
      top: 60px;
      left: 225px;
      width: 225px;
      margin-left: -225px;
      border: none;
      border-radius: 0;
      border-top: 1px white solid;
      overflow-y: auto;
      background-color: white;
      bottom: 0;
      overflow-x: hidden;
      padding-bottom: 40px;
      margin-top: 5%;
      color:green;

    }

    .side-nav>li>a {
      width: 225px;
      border-bottom: 1px white solid;
      color: #7b08bd;
      font-family: sans-serif;
      font-size: 120%;
    }

    .side-nav li a:hover,
    .side-nav li a:focus {
      outline: none;
      background-color: #f3e8fa !important;
    }
  }

  .side-nav li.active{

      background-color: #f3e8fa !important;
  }

  .side-nav>li>ul {
    padding: 0;
    border-bottom: 1px rgba(0,0,0,.3) solid;
  }

  .side-nav>li>ul>li>a {
    display: block;
    padding: 10px 15px 10px 38px;
    text-decoration: none;
    color: #fff;    
  }

  .side-nav>li>ul>li>a:hover {
    color: #fff;
  }

  .navbar .nav > li > a > .label {
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    position: absolute;
    top: 14px;
    right: 6px;
    font-size: 10px;
    font-weight: normal;
    min-width: 15px;
    min-height: 15px;
    line-height: 1.0em;
    text-align: center;
    padding: 2px;
  }

  .navbar-fixed-top{

    background-color: white;
    border-color: white;
  }

  img {
    height: 100px;
    width: 180px;
  }

  .col-md-3{

    margin-right: 3%;
  }
  #blog_chart{

    margin-top: 8%;
  }

.summary{

  margin-top: 10%;
  padding-top: 3%;
  padding-bottom: 3%;
  box-shadow: 0 0 10px #9ecaed;
}

.card-icon{

  margin-top: 24%;
}

textarea.form-control {
  height: 40%;
}

#create_blogs,#user_blogs{

   margin-top: 3%;
}
.user_name{

   margin-top: 1%;
}

.swal-wide{
    width:900px !important;
    font-size: 100%;
}

html,.body-class {
  height: 100%;
  font-family: Open Sans;
  background: linear-gradient(to bottom right, #1BDB5D, #46ACD2); 
}

/*--------------------
Form
--------------------*/

label{

    font-family:Arial;
    font-size:100%;
}
/*--------------------
Signup
--------------------*/
.login {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  width: 800px;
  background: hsl(0, 0, 100);
  border-radius: 10px;
  box-shadow: 0 3px 25px hsla(0, 0, 0, 0.2);
  overflow: hidden;
  display: flex;
}

.login-classic
{
  width: 50%;
  height : 500px;
  padding: 30px 50px;
  border-radius: 10% 10% 10% 10%;
  background-color : white;
}


.btn-primary{

    margin-left : 24%;
    height:50px;
    width : 50%;
    justify-content: center;
}


/*--------------------
Signup
--------------------*/
.signup {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  width: 800px;
  background: hsl(0, 0, 100);
  border-radius: 10px;
  box-shadow: 0 3px 25px hsla(0, 0, 0, 0.2);
  overflow: hidden;
  display: flex;
}

.signup-connect{
  width: 50%;
  height : 500px;
  margin-top:7%;
  border-radius: 14% 0% 0% 14%;
  padding: 300px 50px;
  background: linear-gradient(134deg, hsl(44, 96%, 65%), hsl(34, 95%, 45%));
  color: hsl(0, 0, 100);
  background-image: url("https://www.setaswall.com/wp-content/uploads/2017/10/Ipad-Apple-Iphone-Ipod-Android-380x676.jpg");
}
.signup-classic
{
  width: 70%;
  height : 700px;
  padding: 30px 50px;
  border-radius: 10% 10% 10% 10%;
  background-color : white;
}

.setpassword {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  width: 800px;
  background: hsl(0, 0, 100);
  box-shadow: 0 3px 25px hsla(0, 0, 0, 0.2);
  overflow: hidden;
  display: flex;
}

.setpassword-classic
{
  width: 80%;
  height : 450px;
  padding: 30px 50px;
  background-color : white;
}


